.dashboard-buttons {
    text-align: center;
    margin-top: 10px;
}

.dashboard-btn {
    background-color: #ffffff;
    color: blue;
    transition: 0.5s;
}

.dashboard-buttons .dashboard-btn {
    margin: 2px;
}


.btn-icn-cent {
    display: flex;
    align-items: center;
}

.dash-prod-card {
    max-width: 200px;
}

@media (max-width: 800px) {
    .dash-prod-card {
        max-width: 160px;
        padding: 0px;
        margin-left: 12px;
    }
}

.cargy-scroll-style {
    width: 100%;
    margin: 0%;
    background: #bcffd8;
    display: flex;
    flex-direction: row;
    align-items: center
}

@media (max-width: 800px) {
    .cargy-scroll-style {
        width: 100%;
    }
}