.nav-bor {
  border-bottom: 1px solid rgb(167, 165, 165);
}

.navbar-nav {
  align-items: center;
}

.navbar {
  z-index: 1000;
  /* Set to a value that ensures it's above other elements */
}

.bg-transparent1 {
  background-color: transparent !important;
}


@media (max-width: 900px) {

  .show{
    transition: all 0.5s ease;
  }

  .bg-transparent1 {
    background-color: white !important;
  }

  .mob-noscroll {
    color: black !important;
    font-weight: bold;
  }
}