.postdiv {
    background-color : #050a30;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #ffb12c;
    width: 300px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  
  #postbtn {
    position: fixed;
    bottom: 34px;
    right: 10px;
  }